$primary-color: #ae7b3c;
$secondary-color: #374e03;
$font-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.logos {
  display: flex;
}

.wrapper {
  display: flex;
  gap: 60px;
}

.nav__wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 100px;
}

.logo img {
  width: 100%; 
}

main {
  background-image: url(./DALL·E\ 2024-09-25\ 23.10.48\ -\ A\ high-quality\ construction\ site\ image\,\ featuring\ a\ building\ under\ construction\ with\ scaffolding\,\ workers\,\ and\ cranes.\ The\ scene\ is\ during\ daylight\,\ s.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;

  li {
    a {
      text-decoration: none;
      color: $secondary-color;
      font-weight: bold;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.contact a {
  color: $secondary-color;
  text-decoration: none;
  font-weight: bold;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;

  .line {
    width: 25px;
    height: 3px;
    background-color: $secondary-color;
  }
}

.hero-section {
  position: relative;
  height: 100vh;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $font-color;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: center;
      color: #ffffff;
      padding: 20px 0;
    }

    button {
      background-color: $primary-color;
      width: Fixed (260px) px;
      height: Hug (60px) px;
      top: 498px;
      left: 670px;
      padding: 22px 56px 22px 56px;
      gap: 10px;
      opacity: 0px;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      text-align: left;
      color: #ffffff;
      border: none;
      text-align: center;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

@media (max-width: 768px) {
  .nav__wrapper {
    width: 100%;
    grid-row-start: auto;
    grid-template-columns: repeat(1, 2);
    padding: 20px;
  }

  .main-nav ul {
    flex-direction: column;
  }

  .main-nav {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .contact {
    display: flex;
  }

  .hero-section .content h1 {
    font-size: 2.5rem;
  }

  .hero-section .content p {
    font-size: 1.1rem;
  }

  .hero-section .content button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .nav__wrapper {
    display: flex;
    gap: 0px;
  }

  .wrapper {
    display: none;
  }

  .hero-section .content h1 {
    font-size: 2rem;
  }

  .hero-section .content p {
    font-size: 1rem;
  }

  .hero-section .content button {
    font-size: 0.8rem;
  }
}
